:root {
    --padding: 60px;
    --offset: calc(100vw / 12 * 1.5);
    --mask: linear-gradient(to right, rgba(3, 53, 150, 0.55), rgba(2, 163, 243, 0.55));

    --font-family: 'Roboto', Arial, sans-serif;
}

body {
    margin: 0;
    font: 16px/1.5 var(--font-family);
}

body.disable-scroll {
    overflow: hidden;
}

/* Шапка */
.header {
    position: absolute;
    top: var(--padding);
    width: 100%;
    padding: 0 var(--offset);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .header__title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.header .header__nav {
    color: #fff;
}

.header .header__button {
    width: 36px;
    height: 36px;
}

.header .header__button:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Hero */
.hero {
    height: calc(100vh - calc(var(--padding) * 2) - calc(24px * 1.5));
    min-height: 600px;
    max-height: 800px;
    color: #fff;
}

.hero .hero__container {
    height: 100%;
    padding: calc(var(--padding) + calc(24px * 1.5)) var(--offset) var(--padding) var(--offset);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .hero__slider {
    width: 100%;
    height: 100%;
}

.hero .hero__title {
    margin: 0 0 20px 0;
    grid-column: span 4;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.hero .hero__content {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.hero .hero__button {
    width: 170px;
    height: 55px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

/* Навигация */
.nav {}

.nav.nav_visible {
    transform: translate(-100%, 0) !important;
    visibility: visible !important;
}

.nav .nav__link {
    padding: 30px;
    text-decoration: none;
    text-align: center;
    color: inherit;
    transition: background 0.2s ease-in-out;
}

.nav .nav__link:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Услуги */
.services {
    padding: var(--padding) var(--offset);
    background: #edeff3;
}

.services .services__title {
    margin: 0 0 var(--padding) 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.services .services__container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.services .services__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.services .services__link .service {
    flex: 1 0 auto;
}

/* О компании */
.about {
    padding: var(--padding) var(--offset);
    background: #fff;
}

.about .about__title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.about .about__description,
.about .about__container {
    margin-bottom: 30px;
}

.about .about__description {
    text-align: center;
    line-height: 2.25;
    font-size: 18px;
}

.about .about__container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

.about .about__os {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about .about__line {
    width: 100%;
    height: 2px;
    border: none;
    margin: 60px 0;
    background: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgba(3, 88, 179, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(3, 88, 179, 0.6) 50%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0) 100%); */
}

.about .about__button {
    width: 170px;
    height: 55px;
    padding: 8px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    display: block;
    flex: 0 0 auto;
    font-size: 18px;
    font-weight: 300;
    background: linear-gradient(30deg, #ff5d58, #ff9d49 70%);
    color: #fff;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

/* Клиенты */
.clients {
    padding: 60px var(--offset);
    background: #edeff3;
}

.clients .clients__title {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.clients .clients__container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
}

/* Контакты */
.feedback {
    padding: var(--padding) var(--offset) var(--padding) var(--offset);
    background: linear-gradient(to right, #033596, #02a3f3);
    color: #fff;
}

.feedback .feedback__title,
.feedback .feedback__description {
    text-align: center;
}

.feedback .feedback__title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.feedback .feedback__description {
    margin-bottom: 40px;
    line-height: 1.8;
    font-size: 18px;
    font-weight: 400;
}

.feedback .feedback__button {
    width: 170px;
    height: 55px;
    padding: 8px;
    margin: 15px auto 0 auto;
    border: none;
    border-radius: 3px;
    grid-column: span 2;
    display: block;
    font-size: 18px;
    font-weight: 300;
    background: #fff;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.feedback .feedback__form {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

/* Текстоввый блок */
.content {
    padding: var(--padding) var(--offset);
    background: #fff;
}

.content .content__group {
    margin: 0 0 20px 0;
}

.content .content__group:last-child {
    margin: 0;
}

.content .content__title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.content .content__subtitle {
    margin: 60px 0 20px 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.content .content__text {
    line-height: 2.25;
}

.content .content__list {
    margin: 0;
}

.content .content__line {
    width: 100%;
    height: 2px;
    border: none;
    margin: 60px 0;
    background: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgba(3, 88, 179, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(3, 88, 179, 0.6) 50%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0) 100%); */
}

/* Подвал */
.footer {
    padding: 60px var(--offset) 0 var(--offset);
}

.footer .footer__container {
    margin-bottom: 60px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

.footer .footer__group {}

.footer .footer__group.footer__group_gradient {
    background: linear-gradient(to right, #ff5d58, #ff9d49 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer .footer__title {
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer .footer__content {
    line-height: 2;
    font-size: 16px;
    color: #6d6d6d;
}

.footer .footer__copyright {
    padding: 30px 0;
    border-top: 1px solid #edeff3;
    color: #6d6d6d;
}

/* Сервис */
.service {
    padding: 45px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: #000;
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.service[data-id] {
    cursor: pointer;
}

.service:hover {
    background: linear-gradient(150deg, #033596, #02a3f3);
    color: #fff;
    transform: scale(1.02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4);
}

.service:hover .service__footer {
    color: #fff;
}

.service:hover .service__logo rect {
    fill: #fff;
}

.service .service__logo {
    height: 60px;
}

.service .service__title {
    margin: 30px 0 20px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.service .service__content {
    text-align: center;
    line-height: 2.25;
}

.service .service__footer {
    padding-top: 20px;
    margin-top: auto;
    font-size: 14px;
    color: #6d6d6d;
}

/* Качество */
.quality {
    padding: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
}

.quality .quality__logo {
    height: 60px;
    user-select: none;
}

.quality .quality__title {
    margin: 30px 0 0 0;
    line-height: 2.25;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

/* OS */
.os {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.os:hover .os__logo {
    filter: grayscale(0);
}

.os .os__logo {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
}

.os .os__name {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/* Клиент */
.client {
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
    user-select: none;
    overflow: hidden;
}

.client:hover {
    filter: grayscale(0);
}

.client .client__logo {
    max-width: 100%;
    max-height: 100%;
    flex: 0 0 auto;
}

/* Форма */
.form {}

.form .form__group {
    display: flex;
    flex-direction: column;
}

.form .form__input {
    min-height: 40px;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    font: 16px/1 var(--font-family);
    resize: none;
    background: #fff;
}

.form .form__input::placeholder {
    color: #6d6d6d;
}

/* Кнопки */
.button {
    cursor: pointer;
}

.button .button__gradient {
    background: linear-gradient(to right, #033596, #02a3f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Инфо */
.info {
    margin: 0;
}

.info.info_gradient {
    background: linear-gradient(to right, #033596, #02a3f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Page Up */
.page-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    opacity: 0;
    background: #000;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    outline: none;
    cursor: pointer;
}

.page-up.visible {
    visibility: visible;
    opacity: 0.5;
}

.page-up.visible:hover {
    opacity: 0.7;
}

.page-up svg {
    width: 100%;
    height: 100%;
}

/* Другие */
#toggle {
    display: none;
}

.slider .slider__page:nth-child(1) {
    background: center / cover no-repeat url(../Images/background_1.jpg), var(--mask);
    background-blend-mode: overlay;
}

.slider .slider__page:nth-child(2) {
    background: center / cover no-repeat url(../Images/background_2.jpg), var(--mask);
    background-blend-mode: overlay;
}

.slider .slider__page:nth-child(3) {
    background: center / cover no-repeat url(../Images/background_3.jpg), var(--mask);
    background-blend-mode: overlay;
}

.feedback .feedback__form .form__group:nth-child(2) .form__input {
    min-height: 90px;
    height: 100%;
    margin-bottom: 0;
    line-height: 1.5;
}

.hidden {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

::selection {
    background: rgba(255, 157, 73, 0.4);
}

@media screen and (max-width: 1366px) {
    .services .services__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services .services__container .service:last-child {
        grid-column: span 2;
    }

    .about .about__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .clients .clients__container {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 960px) {
    #toggle {
        position: relative;
        z-index: 10;
        display: block;
    }

    .header .header__nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        padding: calc(calc(var(--padding) * 2) + calc(24px * 1.5)) var(--offset) var(--padding) var(--offset);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: #02a3f3;
        transform: translate(0, 0);
        visibility: hidden;
        /*overflow-y: auto;*/
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .hero .hero__title {
        font-size: 32px;
    }

    .hero .hero__content {
        font-size: 20px;
    }

    .services .services__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .services .services__container .service:last-child {
        grid-column: span 1;
    }

    .about .about__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .clients .clients__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .feedback .feedback__form {
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback .feedback__button {
        grid-column: span 1;
    }
}

@media screen and (max-width: 960px and orientation: landscape) {
    .header .header__nav {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .header .header__nav .nav__link {
        max-width: 180px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --padding: 40px;
        --offset: 40px;
    }

    .header .header__title {
        font-size: 20px;
    }

    .hero .hero__title {
        font-size: 24px;
    }

    .hero .hero__content {
        font-size: 16px;
        line-height: 1.8;
    }

    .services .services__title {
        font-size: 20px;
    }

    .about .about__title {
        font-size: 20px;
    }

    .about .about__description,
    .about .about__container {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .quality {
        padding: 20px;
    }

    .quality .quality__title {
        margin: 20px 0 0 0;
    }

    .os {
        padding: 20px;
    }

    .about .about__container {
        grid-gap: 0;
    }

    .about .about__container .quality {
        box-shadow: none;
    }

    .clients {
        padding: 40px;
    }

    .clients .clients__title {
        margin-bottom: 5px;
        font-size: 20px;
    }

    .clients .client {
        padding: 25px;
    }

    .feedback .feedback__title {
        font-size: 20px;
    }

    .feedback .feedback__description {
        font-size: 16px;
    }

    .footer {
        padding: 40px var(--offset) 0 var(--offset);
    }

    .footer .footer__title {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .clients .clients__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .footer__container {
        margin-bottom: 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer .footer__copyright {
        font-size: 14px;
    }
}

/* .service[data-id] {
    position: relative;
}

.service[data-id]::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: url(../Images/info.svg) no-repeat;
    background-size: 16px 16px;
    background-position: center;
    content: '';
} */