/* Hero */
.hero {
    background: center / cover no-repeat url(../Images/background_5.jpg), var(--mask);
    background-blend-mode: overlay;
}

/* Текстоввый блок */
.content .content__title {}

.content .content__text {
    text-align: center;
}

.content .content__group > .content__title {
    margin-bottom: 60px;
}

.content .content__group:first-child > .content__title {
    margin-bottom: inherit;
}

.content .content__services.content__container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.content .content__about.content__container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(5, 1fr);
}

/* Сервис */
.service {
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.service:hover {
    transform: none;
    background: none;
    color: #000;
    box-shadow: none;
}

.service:hover .service__logo rect {
    fill: url(#gradient);
}

.service .service__logo {
    height: 40px;
}

.service .service__title {
    text-align: left;
}

.service .service__content {
    text-align: left;
}

/* Качество */
.quality {
    padding: 20px 0;
    justify-content: flex-start;
    box-shadow: none;
}

.quality .quality__title {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

/* Media */
@media screen and (max-width: 1366px) {
    .content .content__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .content .content__container .service:last-child {
        grid-column: span 2;
    }
}

@media screen and (max-width: 960px) {
    .content .content__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .content .content__title {
        font-size: 20px;
    }
}